@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,800&display=swap');

$Base_color: #014872;
$Second_color: #a0eacf;
$warning: #d6330f;
$background_color: #8aa0af;
$font_color: #fff;
$border: 20px;
$header_height: 75px;
$header_margin: $header_height + 20px;
$caption: 'Poppins', sans-serif;